*.csv
*.txt
*.sp
*.xml
*.csv.*
*.sp.*
*.txt.*
*.log
*.pyc
nohup.*
*.png
util/__pycache__/common.cpython-36.pyc
.DS_Store
.idea/talkingdata.iml
.ipynb_checkpoints/
util/.gitignore
*.pickle
mark1
mark/mark1/mark1
